/*GENERAL*/
body {
  margin: auto;
  text-align: left;
}

header {
  background-color: cornflowerblue;
  background-image: url('../img/pattern.png');
  background-size: contain;
  margin: auto;
  max-width: 100%;
}

#logo {
  width: 120px;
  padding-top: 18px;
}

.container {
  padding-left: 100px;
  padding-right: 100px;
}

.main-title {
  margin-bottom: 1px;
}

.editor {
  color: gray;
  font-size: 10px;
}

.name {
  color: cornflowerblue;
}

.date {
  font-size: 8px;
}

.tim-images {
  margin-top: 15px;
}

.img-cred {
  font-size: 12px;
}

.first-p {
  background-color: yellow;
}

.un-list {
  list-style-position: inside;
  padding-left: 0;
  margin-left: 0;
}

.tab {
  margin: 0;
  border-collapse: collapse;
}

.testa {
  background-color: #5993ff;
}

.tab-head {
  width: 33%;
}

.corpo {
  background-color: lightblue;
}

.second-p {
  background-color: yellow;
}

